*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Pour inclure les marges internes et les bordures dans les marges des parents*/
}

a{
    text-decoration: none; /*enlève les deco texte*/
}

:root {
    --darkgold: rgb(163, 121, 15);
    --a-hover: goldenrod;
    --stylePrimary: display: flex, justify-content: center;
}

body {
    background-image: url(images/deutschlandnoback.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 500px;
    background-position: center;
    background-color: black;
}

.header1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    border-bottom: 1px solid var(--darkgold);
    border-radius: 20px;
    box-shadow: 0 0 100px rgba(255, 217, 0, 0.329) ;
}

.logo {
    width: 10em;
    border: 5px solid var(--darkgold);
    border-radius: 5px;
    background-color: antiquewhite;
}

/*a == tout les liens du site*/
a:link {color: var(--darkgold);}
a:visited {color: rgb(44, 34, 10);}
a:hover {color: goldenrod;}
a:active {color: gold;}
.liens {
    display: flex;
    justify-content: end;
}
ul li {
    padding: 20px;
    list-style-type: none;
}

/*-----------------------------MENU BURGER--------------------------------*/

.menu-burger {
    display: none;
}
.menu-burger {
    width: 100%;
    height: 100%;
}
nav {
    height: 50px;
}
.menu-burger::before, .menu-burger::after {
    content: "";
    width: 100%;
    height: 50%;
    background-color: #046a80;
}
.menu-burger nav {
    top: 0;
    z-index: 1;
    width: 100%;
}
.navigation {
    border-radius: 8px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    background-color: whitesmoke;
    padding: 5px;
    line-height: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-burger ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 0;
    overflow: hidden;
    transition: .4s cubic-bezier(.77,0,.18,1);
}
.menu-burger.active ul {
    width: 420px;
    margin-right: 20px;
}
a {
    color: #888;
    text-decoration: none;
    transition: .3s;
}
a:hover {
    color: var(--a-hover);
}
.basculant {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 48px;
    padding: 14px 5px;
    cursor: pointer;
}
.menu-burger:not(.active) .nav-toogler{
    margin-left: -10px;
}
.basculant::before, .basculant::after {
    content: "";
    position: relative;
    display: block;
    width: 30px;
    height: 3px;
    background-color: var(--darkgold);
    transition: .4s cubic-bezier(.77,0,.18,1);
}
.basculant::after {
    margin-top: 10px;
}
.menuBurger.active .basculant::before, .menuBurger.active .basculant::after{
    position: absolute;
    top: 50%;
    background-color: #3C9DFB;
    transform: rotate(135deg);
}
.menuBurger.active .basculant::after {
    transform: rotate(-135deg);
    margin-top: 0;
}/*Mise en  place appear dissapear Media Query
On va priviliégier des tailles relatives plutoit  que fixes pour le responsive
donc les % et vh, vw, rem et em plutot que px
*/
/*-------------------FIN MENU BURGER---------------------*/

.images1 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 80px;
    gap: 500px;
}
.imgsection1 {
    width: 500px;
    border-radius: 20px;
    transform: scaleX(-1);
    box-shadow: 5px 10px 50px rgba(178, 34, 34, 0.164);
}
.imgsection2 {
    width: 500px;
    border-radius: 20px;
    box-shadow: 5px 10px 50px rgba(178, 34, 34, 0.164);
}

h1 {
    color: antiquewhite;
    font-family: fantasy;
    font-size: 8em;
    text-align: center;
    margin: 100px 0px 50px 0px;
    width: 100%;
}

.vidéo {
    display: flex;
    justify-content: center;
}

h2 {
    color: antiquewhite;
}

.vidéo2 {
    display: flex;
    justify-content: center;
    padding: 0 0 100px 0;
}

.rammsteinparis {
    width: 600px;
}

.rammstein-box {
    max-width: 650px;
    margin: 0 auto;
    padding: 20px;
    background: whitesmoke;
    border-radius: 8px;
    text-align: center;
    margin-bottom: 100px;
}

.section img {
    max-width: 100%;
    border-radius: 10px;
}

.txt-sonne {
    font-size: 25px;
    color: var(--darkgold);
}

.toggle-desc {
    display: none;
}

.arrow-container {
    margin: 15px 0;
    cursor: pointer;
    display: inline-block;
}

.arrow-down {
    font-size: 30px;
    display: inline-block;
    transition: transform 0.3s;
}

.description-box {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0,3 ease-out;
    background: rgb(212, 212, 212);
    border-radius: 5px;
    padding: 0 15px;
    margin: 10px 0;
}

.txtbox {
    color: black;
}

.toggle-desc:checked ~ .description-box {/*toggle-desc:checked == Si à été coché -- Le tild ~ 
    cible un élément, à condition qu'ils partagent le même parent (ils sont frères),
    même s'il y a d'autres balises entre les deux, différent du + qui cible uniquement le frère immédiat*/
    max-height: 837px;
    padding: 15px;
}

.toggle-desc:checked ~ .arrow-container .arrow-down {
    transform: rotate(180deg);
    transform: scale(1.5); /*Agrandit la flèche et le texte*/
}

.blanc, .bleue, .violet, .rouge, .vert, .pourpre, .jaune, .orange, .turquoise {
    border: 5px solid black;
    width: 200px;
    height: 200px;
    background-image: url('images/mig.jpg');
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    filter: contrast(1.3) brightness(1.2);
}

.blanc {
    background-color: #f5e6d3;
}
.bleue {
    background-color: #4a9fd8;
}
.violet {
    background-color: #9b59b6;
}
.pourpre {
    background-color: #e74c8c;
}
.rouge {
    background-color: #e74c3c;
}
.vert {
    background-color: #27ae60;
}
.jaune {
    background-color: #f1c40f;
}
.orange {
    background-color: #e67e22;
}
.turquoise {
    background-color: #1abc9c;
}

.section1 {
    margin-top: 100px;
    margin-bottom: 100px;
}

.cadre {
    display: flex;
    justify-content: center;
}

/*Scroll bar*/
#info
{
	font-size: 18px;
	color: black;
	text-align: center;
	margin-bottom: 25px;
}

#wrapper
{
	text-align: center;
	width: 500px;
	margin: auto;
}
#style-10::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: black;
	border-radius: 10px;
}

#style-10::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#style-10::-webkit-scrollbar-thumb
{
	background-color: rgba(218, 165, 32, 0.219);
	border-radius: 10px;
	background-image: -webkit-linear-gradient(90deg,
	                                          var(--darkgold) 25%,
											  var(--darkgold) 25%,
											  transparent 50%,
											  transparent 50%,
											  var(--darkgold) 75%,
											  var(--darkgold) 75%,
											  transparent)
}


.menu{
  background-color: #262424;
  padding: 10px;
  display: contents;
  width: 50px;
}

.caroussel{
  overflow: hidden;
}

.caroussel figure{
  display: flex;
  justify-content: flex-start; 
  position: relative;
	width: 300%; 
	margin: 0;
	left: 0;
  animation: 9s slideCaroussel infinite;
}

.caroussel figure img{
  width: 20%;
  float: right;
}

@keyframes slideCaroussel {
  0% {
		left: 0;
	}
  45%{
    left: -100%;
  }
  55%{
    left: -100%;
  }
}


    /*          PARTIE CONTACT        */

.rammstein-lecture {
    max-width: 1300px;
    margin: 0 auto;
    padding: 20px;
    background: rgb(32, 32, 32);
    border-radius: 8px;
    text-align: left;
    margin-top: 100px;
    margin-bottom: 100px;
}

.rammstein-form {
    color: antiquewhite;;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background: rgb(32, 32, 32);
    border-radius: 8px;
    text-align: left;
    margin-top: 100px;
    margin-bottom: 100px;
}
.form-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}
.inputform {
    padding: 5px;
    margin-top: 10px;
}
.checkbox {
    /* display: flex;
    align-items: flex-start;
    flex-direction: column*/
    width: 90%
} 

/*-----------------------------MEDIA QUERY---------------------------------*/
/*On peut ecrire min-width ou max-width personnellement je prefere le max*/
  /*EXEMPLE*/
  /*Sur les écrans, quand la largeur de la fenêtre fait au maximum 1280px 
        @media screen and (max-width: 1280px)
    Sur tous types d'écran, quand la largeur de la fenêtre est comprise entre 1024px et 1280px 
        @media all and (min-width: 1024px) and (max-width: 1280px)
    Sur tous types d'écrans orientés verticalement 
        @media all and (orientation: portrait)
        REGARDER le overflow : scroll ,pour un texte qui dépasse de sa boite parent*/
@media screen and (max-width: 800px) {
    .header1 {
        display: none;
    }
    .menu-burger {
        display: block;
    }
    .images1 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 200px;
    gap: 20%;
    }
    .imgsection1 {
    width: 30%;
    height: 30%;
    border-radius: 20px;
    transform: scaleX(-1);
    box-shadow: 5px 10px 50px rgba(178, 34, 34, 0.164);
    }
    .imgsection2 {
    width: 30%;
    height: 30%;
    border-radius: 20px;
    box-shadow: 5px 10px 50px rgba(178, 34, 34, 0.164);
    }
    .txtbox {
    font-size: 23px;
    }
    .vidéo {
        width: 100%;
    }
}
