*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Pour inclure les marges internes et les bordures dans les marges des parents*/
}

a{
    text-decoration: none; /*enlève les deco texte*/
}

:root {
    --darkgold: rgb(163, 121, 15);
    --a-hover: goldenrod;
    --stylePrimary: display: flex, justify-content: center;
}

body {
    background-image: url(../images/deutschlandnoback.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 500px;
    background-position: center;
    background-color: black;
}

.hidden {
  display: none;
}

.spoiler {
    color: grey;
}

.clockBack {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    
}

.clock {
  font-size: 5em;
  color: rgb(224, 215, 190);
  display: flex;
  justify-content: center;
  padding: 2%;
  background-color: rgba(0, 0, 0, 0.671);
  width: 700px;
  border-radius: 0px;
  box-shadow: 0 0 30px rgba(163, 121, 15, 0.589);
  text-shadow: 8px 8px 20px var(--darkgold);
}

/* --------------------------------FEU TRICOLORE--------------------------------------- */
.feuExt {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 220px;
}
.feuInt {
    width: 100px;
    height: 300px;
    background-color: #333;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}
.light {
    width: 70px;
    height: 70px;
    /* background-color: #111; */
    border-radius: 50%;
    opacity: 0.3;
    transition: opacity 0.5s ease;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
}
.red {
    background: radial-gradient(circle, #ff4444, #cc0000);
}
.orange {
 background: radial-gradient(circle, #ffaa00, #cc8800);
}
.green {
 background: radial-gradient(circle, #44ff44, #00cc00);
}
.light.active {
    opacity: 1;
    box-shadow:  0 0 30px currentColor;
    transform: scale(1.05);
}
/* --------------------------------FIN FEU TRICOLORE--------------------------------------- */

.button {
  display: block;
  margin: auto;
  width: 12rem;
  height: 2rem;
}
.modal {
  background-color: beige;
  border: 2px solid var(--darkgold);
  border-radius: 5px;
}