*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Pour inclure les marges internes et les bordures dans les marges des parents*/
}

a{
    text-decoration: none; /*enlève les deco texte*/
}

:root {
    --darkgold: rgb(163, 121, 15);
    --a-hover: goldenrod;
    --stylePrimary: display: flex, justify-content: center;
}

body {
    background-image: url(../images/deutschlandnoback.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 500px;
    background-position: center;
    background-color: black;
}

.hidden {
  display: none;
}

.spoiler {
    color: grey;
}

.clockBack {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    
}

.clock {
  font-size: 5em;
  color: rgb(224, 215, 190);
  display: flex;
  justify-content: center;
  padding: 2%;
  background-color: rgba(0, 0, 0, 0.671);
  width: 700px;
  border-radius: 0px;
  box-shadow: 0 0 30px rgba(163, 121, 15, 0.589);
  text-shadow: 8px 8px 20px var(--darkgold);
}